In [260]:
import pandas as pd
import os
import numpy as np
from gensim.parsing.preprocessing import remove_stopwords
from gensim.utils import simple_preprocess
from gensim.parsing.porter import PorterStemmer
from collections import Counter
from sklearn.ensemble import IsolationForest

In [261]:
path = '/Users/Ellen/Documents/Dokumenter/DTU/6.Semester/SocialData/Project/yelp_dataset'
#path = 'C:\\Users\\prebe\\Documents\\Ellen\\Python\\Restaurant-Guide-master'
os.chdir(path)
os.getcwd()

'/Users/Ellen/Documents/Dokumenter/DTU/6.Semester/SocialData/Project/yelp_dataset'

In [262]:
df = pd.read_csv('yelp_reviews_RV_categories.csv')
#df = pd.read_json('yelp_academic_dataset_business.json', lines=True)

In [263]:
df = df.drop_duplicates(subset='text')
df.shape

(1674264, 21)

In [264]:
#N = df.shape[0]
N = 1000
MaxUsed = 100
df.shape
#(5177322, 23)
df = df.iloc[0:N]
df

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,...,categories,hours,cat_kitchen,cat_type,user_id,review_stars,text,date,reviewlength,sentences
0,6iYb2HFDywm3zjuRg0shjw,Oskar Blues Taproom,921 Pearl St,Boulder,CO,80302,40.017544,-105.283348,4.0,86,...,"Gastropubs, Food, Beer Gardens, Restaurants, B...","{'Monday': '11:0-23:0', 'Tuesday': '11:0-23:0'...",American (Traditional),Food,93z0yh-sUpGZS-cSKu6xxA,5,Stopped in on a busy Friday night. Despite the...,2018-03-04 00:59:21,630,6
1,6iYb2HFDywm3zjuRg0shjw,Oskar Blues Taproom,921 Pearl St,Boulder,CO,80302,40.017544,-105.283348,4.0,86,...,"Gastropubs, Food, Beer Gardens, Restaurants, B...","{'Monday': '11:0-23:0', 'Tuesday': '11:0-23:0'...",American (Traditional),Food,Q_CZIvnsDHjpls-EPzzG7Q,2,Went there about 1 PM on a Monday. It wasn't ...,2018-08-14 05:22:00,885,11
2,6iYb2HFDywm3zjuRg0shjw,Oskar Blues Taproom,921 Pearl St,Boulder,CO,80302,40.017544,-105.283348,4.0,86,...,"Gastropubs, Food, Beer Gardens, Restaurants, B...","{'Monday': '11:0-23:0', 'Tuesday': '11:0-23:0'...",American (Traditional),Food,rqxTSFFj5fZNmabY1fmTlw,5,This was the place the be on Friday Night! If ...,2018-03-17 14:22:48,174,2
3,6iYb2HFDywm3zjuRg0shjw,Oskar Blues Taproom,921 Pearl St,Boulder,CO,80302,40.017544,-105.283348,4.0,86,...,"Gastropubs, Food, Beer Gardens, Restaurants, B...","{'Monday': '11:0-23:0', 'Tuesday': '11:0-23:0'...",American (Traditional),Food,vNPxlt5f50q0e2nVAScW3Q,4,Went to this place with my family over the wee...,2018-04-04 21:16:50,553,5
4,6iYb2HFDywm3zjuRg0shjw,Oskar Blues Taproom,921 Pearl St,Boulder,CO,80302,40.017544,-105.283348,4.0,86,...,"Gastropubs, Food, Beer Gardens, Restaurants, B...","{'Monday': '11:0-23:0', 'Tuesday': '11:0-23:0'...",American (Traditional),Food,eXRC79iX60xwA1UuGRuWNg,4,"Stopped on a midweek afternoon, and so glad th...",2018-04-28 19:17:04,841,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,FJ-r3hOMbcq0p7Z5yH9oew,Olive Garden Italian Restaurant,1604 W Osceola Pkwy,Kissimmee,FL,34741,28.341784,-81.421674,3.5,87,...,"Italian, Wine Bars, Nightlife, Salad, Bars, Re...","{'Monday': '0:0-0:0', 'Tuesday': '11:0-22:0', ...",Italian,Wine Bars,teFlQySpvCTeOkjxzjWCiA,3,I have never been a fan of Olive Garden becaus...,2018-01-06 17:27:07,794,11
996,FJ-r3hOMbcq0p7Z5yH9oew,Olive Garden Italian Restaurant,1604 W Osceola Pkwy,Kissimmee,FL,34741,28.341784,-81.421674,3.5,87,...,"Italian, Wine Bars, Nightlife, Salad, Bars, Re...","{'Monday': '0:0-0:0', 'Tuesday': '11:0-22:0', ...",Italian,Wine Bars,_nqU3_9tACh1F5o67BmOgQ,2,Not sure what happened to the taste of the foo...,2018-10-01 20:23:53,291,3
997,FJ-r3hOMbcq0p7Z5yH9oew,Olive Garden Italian Restaurant,1604 W Osceola Pkwy,Kissimmee,FL,34741,28.341784,-81.421674,3.5,87,...,"Italian, Wine Bars, Nightlife, Salad, Bars, Re...","{'Monday': '0:0-0:0', 'Tuesday': '11:0-22:0', ...",Italian,Wine Bars,gTlWjfuSk36D0ep9ZV5OaA,4,We have had such great experiences at the Oliv...,2018-07-15 17:14:46,1521,19
998,FJ-r3hOMbcq0p7Z5yH9oew,Olive Garden Italian Restaurant,1604 W Osceola Pkwy,Kissimmee,FL,34741,28.341784,-81.421674,3.5,87,...,"Italian, Wine Bars, Nightlife, Salad, Bars, Re...","{'Monday': '0:0-0:0', 'Tuesday': '11:0-22:0', ...",Italian,Wine Bars,43UiwT_m01bF9RkEV8GSsQ,4,Typical O.G. fare and service. Friendly staff...,2014-03-30 18:46:06,264,6
999,FJ-r3hOMbcq0p7Z5yH9oew,Olive Garden Italian Restaurant,1604 W Osceola Pkwy,Kissimmee,FL,34741,28.341784,-81.421674,3.5,87,...,"Italian, Wine Bars, Nightlife, Salad, Bars, Re...","{'Monday': '0:0-0:0', 'Tuesday': '11:0-22:0', ...",Italian,Wine Bars,BFcBwoxpkKGUIeUzOU0rRA,4,This was remarkably good considering the reput...,2018-12-04 22:38:16,462,9

In [265]:
#Length of review
df['reviewlength'] = df['text'].str.len()

In [266]:
#antal sætninger
df['sentences'] = df["text"].str.count('\.')

In [267]:
#antal tal

# procentdel af store bogstaver

#procentdel af positive/negative meningsbærende ord --> Måske denne tages ud. Eller der laves liste med positive ord og en med negative


#gennemsnit længde af review
#one hot

In [268]:
#remove stop words
df['filtered_text'] = df.text.apply(remove_stopwords)

In [269]:
# Tokenize the text
df['tokenized_text'] = [simple_preprocess(line, deacc=True) for line in df['filtered_text']]

In [270]:
#Stem the text
porter_stemmer = PorterStemmer()
df['stemmed_tokens'] = [[porter_stemmer.stem(word) for word in tokens] for tokens in df['tokenized_text']]

In [271]:
df['stemmed_text'] = df['stemmed_tokens'].apply(' '.join)

In [272]:
#count of stars given
min_review = min(df['review_stars'].value_counts())

#dataframes for each star
df1 = df.loc[(df['review_stars'] == 1)]
df2 = df.loc[(df['review_stars'] == 2)]
df3 = df.loc[(df['review_stars'] == 3)]
df4 = df.loc[(df['review_stars'] == 4)]
df5 = df.loc[(df['review_stars'] == 5)]

#sample dataframe for each star
df1 = df1.sample(n=min_review,axis='rows')
df2 = df2.sample(n=min_review,axis='rows')
df3 = df3.sample(n=min_review,axis='rows')
df4 = df4.sample(n=min_review,axis='rows')
df5 = df5.sample(n=min_review,axis='rows')

In [273]:
#balanced reviews
df_word = pd.concat([df1, df2, df3, df4, df5])

In [274]:
Word = []
WordCounter = Counter(" ".join(df_word["stemmed_text"]).split()).most_common(MaxUsed)
for j in range(len(WordCounter)):
    Word.insert(j,WordCounter[j][0])

In [275]:
Words = np.zeros((N,MaxUsed))


#for loop over rækker, og for loop over ordene i NWords. Hvis ord er der, sæt 1.
for index, row in df.iterrows():
    for i in range(np.size(Words, axis=1)):
        if Word[i] in df['stemmed_text'].iloc[index]:
            Words[index,i] = 1

In [276]:
#drop attributes with text
df = df.drop(['text','filtered_text','tokenized_text', 'stemmed_tokens',
       'stemmed_text'], axis=1)

In [277]:
df_words = pd.DataFrame(Words)

Names = list(range(0, MaxUsed))
ColNames = [str(n) for n in Names]

df_words.columns = ColNames
df_words

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,0.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0
996,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
997,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
998,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
999,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0

In [278]:
df = df.join(df_words)

In [279]:
df['user_id'] = df['user_id'].astype('category')
df['business_id'] = df['business_id'].astype('category')

df['UserCat'] = df['user_id'].cat.codes
df['BusinessCat'] = df['business_id'].cat.codes

In [280]:
#encode date
df['date']= pd.to_datetime(df['date'])

df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['day'] = df['date'].dt.day
df['hour'] = df['date'].dt.hour
df['minute'] = df['date'].dt.minute
df['DayOfWeek'] = df['date'].dt.dayofweek

In [289]:
df_feature = df[['stars', 'review_count','review_stars','reviewlength', 'sentences', 'UserCat','BusinessCat', 'year', 'month', 'day', 'hour', 'minute', 'DayOfWeek', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '50', '51', '52', '53', '54', '55', '56', '57', '58', '59', '60', '61', '62', '63', '64', '65', '66', '67', '68', '69', '70', '71', '72', '73', '74', '75', '76', '77', '78', '79', '80', '81', '82', '83', '84', '85', '86', '87', '88', '89', '90', '91', '92', '93', '94', '95', '96', '97', '98', '99']]

In [290]:
model=IsolationForest(n_estimators=50, max_samples='auto', contamination=float(0.2),max_features=1.0)
model.fit(df_feature)

IsolationForest(behaviour='deprecated', bootstrap=False, contamination=0.2,
                max_features=1.0, max_samples='auto', n_estimators=50,
                n_jobs=None, random_state=None, verbose=0, warm_start=False)

In [296]:
df['scores']=model.decision_function(df_feature)
df['anomaly']=model.predict(df_feature)

In [307]:
df = df.drop(['reviewlength', 'sentences', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '50', '51', '52', '53', '54', '55', '56', '57', '58', '59', '60', '61', '62', '63', '64', '65', '66', '67', '68', '69', '70', '71', '72', '73', '74', '75', '76', '77', '78', '79', '80', '81', '82', '83', '84', '85', '86', '87', '88', '89', '90', '91', '92', '93', '94', '95', '96', '97', '98', '99', 'UserCat', 'BusinessCat', 'year', 'month', 'day', 'hour', 'minute', 'DayOfWeek'], axis = 1)

KeyError: "['reviewlength' 'sentences' '0' '1' '2' '3' '4' '5' '6' '7' '8' '9' '10'\n '11' '12' '13' '14' '15' '16' '17' '18' '19' '20' '21' '22' '23' '24'\n '25' '26' '27' '28' '29' '30' '31' '32' '33' '34' '35' '36' '37' '38'\n '39' '40' '41' '42' '43' '44' '45' '46' '47' '48' '49' '50' '51' '52'\n '53' '54' '55' '56' '57' '58' '59' '60' '61' '62' '63' '64' '65' '66'\n '67' '68' '69' '70' '71' '72' '73' '74' '75' '76' '77' '78' '79' '80'\n '81' '82' '83' '84' '85' '86' '87' '88' '89' '90' '91' '92' '93' '94'\n '95' '96' '97' '98' '99' 'UserCat' 'BusinessCat' 'year' 'month' 'day'\n 'hour' 'minute' 'DayOfWeek'] not found in axis"

In [23]:
#path = 'C:\\Users\\prebe\\Documents\\Ellen\\Python\\Restaurant-Guide-master'
path = '/Users/Ellen/Documents/Dokumenter/DTU/6.Semester/SocialData/Project/yelp_dataset'
os.chdir(path)
os.getcwd()

'C:\\Users\\prebe\\Documents\\Ellen\\Python\\Restaurant-Guide-master'

In [24]:
csv_name = "AnomalyDetection.csv"
df.to_csv(csv_name, index=False)

In [25]:
#features:
#review_stars
#text
#most common words(are they in the review or not)
#reviewLength